#y8-page {
	--main-color: rgba(127, 231, 204, 1);
	--transparent-color: rgba(127, 231, 204, 0.3);
	--highlight-color: rgba(127, 231, 204, 0.7);
}

#y9-page {
	--main-color: rgba(220, 118, 132, 1);
	--transparent-color: rgba(220, 118, 132, 0.3);
	--highlight-color: rgba(220, 118, 132, 0.7);
}

#y10-page {
	--main-color: rgba(246, 162, 78, 1);
	--transparent-color: rgba(246, 162, 78, 0.3);
	--highlight-color: rgba(246, 162, 78, 0.7);
}

#al-page {
	--main-color: rgba(104, 134, 197, 1);
	--transparent-color: rgba(104, 134, 197, 0.3);
	--highlight-color: rgba(104, 134, 197, 0.7);
}

#fm-page {
	--main-color: rgba(114, 106, 149, 1);
	--transparent-color: rgba(114, 106, 149, 0.3);
	--highlight-color: rgba(114, 106, 149, 0.7);
}

#all-links {
	display: flex;
	align-items: stretch;
	height: 100vh;
}

#all-links a {
	text-align: center;
	width: 20vw;
	color: white;
	background-color: var(--main-color);
	font-size: 3vw;
	text-decoration: none;
	margin: 0;
	padding-top: 10vh;
	transition: all 0.5s;
}

#all-links a:hover {
	font-size: 4vw;
}

@keyframes pageLoad {
	0% {
		height: 60%;
	}
	100% {
		height: 0;
	}
}

#page-load-top {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--main-color);
	height: 60%;
	width: 100%;
	/* duration, timing-function, delay, iteration-count, name */
	animation: 0.3s ease-out 0s 1 pageLoad;
	animation-fill-mode: forwards;
	z-index: 5;
}
#page-load-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--main-color);
	height: 60%;
	width: 100%;
	animation: 0.3s ease-out 0s 1 pageLoad;
	animation-fill-mode: forwards;
}

.page-leave-left {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	background-color: var(--main-color);
	height: 100vh;
	width: 0;
}

.page-leave-right {
	position: relative;
	float: right;
	top: 0;
	right: 0;
	background-color: var(--main-color);
	height: 100vh;
	width: 0;
}

.ab {
	color: teal;
}
.a {
	color: green;
}
.transition-fade {
	transition: 1s;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Garamond';
}
body {
	position: relative;
	height: 100%;
}
.sidebar-active {
	color: white !important;
	background-color: var(--main-color) !important;
}
.hide {
	height: 0;
	overflow: hidden;
}
.zero-opacity{
	opacity: 0; !important;
}
#container {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0;
	grid-template: 
		"nav nav nav" 6vh
		"left mid right" 70vh
		"left sub right" 20vh
		"foot foot foot" 4vh
		/ 1.3fr 5.7fr 1fr;
}
#nav {
	grid-area: nav;
	color: white;
	font-size: 3vh;
	padding-left: 1vw;
	padding-top: 1vh;
	background-color: var(--main-color);
	z-index: 6;
}
#left {
	grid-area: left;
	border-right: solid 1px var(--main-color);
	overflow: scroll;
	padding: 1em;
}
#left h6 {
	font-size: 1.5em;
	margin: 0;
}
#left ul {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
#left ul li {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1em;
	cursor: pointer;
}
#left ul li:hover {
	background: var(--transparent-color);
	transition: background ease 0.2s;
}
#left hr {
	border: none;
	border-top: solid 1px var(--transparent-color);
	margin-right: 10px;
}
#right {
	grid-area: right;
	border-left: solid 1px var(--main-color);
	padding: 1em;
}
#mid {
	grid-area: mid;
	overflow: scroll;
	transition: all 0.2s;
	width: 100%;
}
#mid ul {
	list-style-type: none;
	padding-left: 1em;
}
#mid li {
	padding-bottom: 0.5em;
}
#mid div {
	padding-left: 1em;
}
#sub {
	grid-area: sub;
	padding: 1em;
	border-top: solid 1px var(--main-color);
	max-height: 20vh;
	overflow: scroll;
}
#resources {
	transition: all 0.2s;
}
#resources ul {
	list-style-type: none;
}
#resources a {
	text-decoration: none;
	color: var(--main-color);
}
#resources a:hover {
	color: var(--highlight-color);
}
#foot {
	grid-area: foot;
	background-color: var(--main-color);
	z-index: 6;
}