.ab {
	color: teal;
}
.a {
	color: green;
}
	.transition-fade {
	transition: 1s;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Garamond';
}
body {
	position: relative;
	height: 100%;
}
.sidebar-active {
	color: white !important;
	background-color: rgba(144,169,89,1) !important;
}
.hide {
	height: 0;
	overflow: hidden;
}
.zero-opacity{
	opacity: 0; !important;
}
#container {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0;
	grid-template: 
		"nav nav nav" 6vh
		"left mid right" 70vh
		"left sub right" 20vh
		"foot foot foot" 4vh
		/ 1.3fr 5.7fr 1fr;
}
#nav {
	grid-area: nav;
	color: white;
	font-size: 3vh;
	padding-left: 1vw;
	padding-top: 1vh;
	background-color: rgba(144,169,89,1);
}
#left {
	grid-area: left;
	border-right: solid 1px rgba(144,169,89,1);
	overflow: scroll;
	padding: 1em;
}
#left h6 {
	font-size: 1.5em;
	margin: 0;
}
#left ul {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
#left ul li {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1em;
	cursor: pointer;
}
#left ul li:hover {
	background: rgba(144,169,89,0.3);
	transition: background ease 0.2s;
}
#left hr {
	border: none;
	border-top: solid 1px rgba(144,169,89,0.2);
	margin-right: 10px;
}
#right {
	grid-area: right;
	border-left: solid 1px rgba(144,169,89,1);
	padding: 1em;
}
#mid {
	grid-area: mid;
	overflow: scroll;
	transition: all 0.2s;
	width: 100%;
}
#mid ul {
	list-style-type: none;
	padding-left: 1em;
}
#mid li {
	padding-bottom: 0.5em;
}
#mid div {
	padding-left: 1em;
}
#sub {
	grid-area: sub;
	padding: 1em;
	border-top: solid 1px rgba(144,169,89,1);
}
#resources {
	transition: all 0.2s;
}
#resources ul {
	list-style-type: none;
}
#resources a {
	text-decoration: none;
	color: rgba(144,169,89,1);
}
#resources a:hover {
	color: rgba(144,169,89,0.5);
}
#foot {
	grid-area: foot;
	background-color: rgba(144,169,89,1);
}